<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>読書管理</title>
	<style type="text/css">
	.container {
		width: 70%;
		margin-left:auto;
		margin-right: auto;
		background-color: #F0FFFF;
		border: 1px solid grey;
	}
	.textbox {
		width: 30em;
	}
	.number{
		width:5em;
		text-align: right;
	}
	.message {
		color: red;
	}
	.readonly {
	}
	</style>
	<script type="text/javascript">
	function getPublisherList()
	{
		const initialPublisherId = document.getElementById("input_publisher_id").value
		const BASE_URL = "/publisher/index";
		let search_word = document.getElementById('input_publisher_search').value;
		let url = (search_word.length > 0) ? (BASE_URL + "?searchWord=" + encodeURI(search_word)) : BASE_URL;
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == XMLHttpRequest.DONE) {
				if (xmlhttp.status == 200) {
					const select = document.getElementById('publisher_id_select');
					select.options.length = 0;
					let count = 0;
					let json =  JSON.parse(xmlhttp.responseText);
					Object.keys(json).forEach((key) => {
						let item = document.createElement('option');
						item.value = key;
						item.innerHTML = json[key];
						if(key == initialPublisherId)
						{
							item.selected = true;
						}
						select.appendChild(item);
						count += 1;
					});
					if(count >= 1) {
						publisher_changed();
					}
				}
				else
				{
					alert('Error' + xmlhttp.responseText);
				}
			}
		};
		xmlhttp.open("GET", url, true);
		xmlhttp.send();
	}
	function publisher_changed() {
		const selecter = document.getElementById('publisher_id_select');
		document.getElementById('input_publisher_id').value = selecter.options[selecter.selectedIndex].value;
		document.getElementById('input_publisher_name').value = selecter.options[selecter.selectedIndex].firstChild.textContent;
		document.getElementById('publisher_link').href = "/publisher/" + selecter.options[selecter.selectedIndex].value
	}
	function search() {
		getPublisherList();
	}
	function getLanguages()
	{
		const URL = "/books/languages";
		const initialLanguage = document.getElementById('initial_language').value;
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == XMLHttpRequest.DONE) {
				if (xmlhttp.status == 200) {
					const select = document.getElementById('language_id_select');
					select.options.length = 0;
					let count = 0;
					let json =  JSON.parse(xmlhttp.responseText);
					Object.keys(json).forEach((key) => {
						let item = document.createElement('option');
						item.value = key;
						if(key == initialLanguage)
						{
							item.selected = true;
						}
						item.innerHTML = json[key];
						select.appendChild(item);
						count += 1;
					});
				}
				else
				{
					alert('Error' + xmlhttp.responseText);
				}
			}
		};
		xmlhttp.open("GET", URL, true);
		xmlhttp.send();
	}
	function init()
	{
		try { getLanguages(); } catch(e) { alert(e) }
		getPublisherList();
	}
	</script>
</head>
<body onload="init();">
	<div class="container">
		<h1>編集</h1>
		<form th:action="${action}" method="post" th:object="${form}">
			<p class="message" th:text="*{message}">
			<input type="hidden" name="_method" th:value="${_method}">
			<table>
				<tbody>
					<tr>
						<th>タイトル</th>
						<td><input id="txtTitle" class="textbox" type="text" th:field="*{title}"></td>
					</tr>
					<tr>
						<th>著者</th>
						<td><input id="txtAuthor" class="textbox" type="text" th:field="*{author}"></td>
					</tr>
					<tr>
						<th>出版社</th>
						<td>
							<input class="textbox" id="input_publisher_name" type="text" th:field="*{publisherName}"><br/>
							<input class="number" id="input_publisher_id" type="text" th:field="*{publisherId}" style="background-color:#F0F0F0;" readOnly="true" />
							<input class="textbox" id="input_publisher_search" type="text" style="width:5em;" onChange="search();" />
							<select id="publisher_id_select" style="width: 15em;" onChange="publisher_changed();">
								<option value=""></option>
							</select>
							<a th:href="@{/publisher/{id}(id=${form.publisherId})}" id="publisher_link" target="_blank">詳細</a>
						</td>
					</tr>
					<tr>
						<th>出版年</th>
						<td><input class="number" type="text" th:field="*{publishedYear}"</td>
					</tr>
					<tr>
						<th>言語</th>
						<td>
							<select id="language_id_select" style="width: 10em;">
								<option value=""></option>
							</select>
							<input id="initial_language" type="hidden" th:value="*{language}">
						</td>
					</tr>
					<tr>
						<th>ISBN</th>
						<td><input class="textbox" type="text" th:field="*{isbn}"></td>
					</tr>
					<tr>
						<th>NOTE</th>
						<td>
							<textarea rows="10" cols="50" disabled="true" class="readonly">
								[[${form.note}]]
							</textarea>
						</td>
					</tr>
					<tr>
						<th>CONTENTS</th>
						<td>
							<textarea rows="10" cols="50" disabled="true" class="readonly">
								[[${form.contents}]]
							</textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button name="register" type="submit">登録</button>
			</div>
		</form>
		<div>
			<a href="/">戻る</a>
		</div>
	</div>
</body>
</html>
