<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ja">
<head>
    <title>読書管理</title>
	<style type="text/css">
	.container {
		width: 70%;
		margin-left:auto;
		margin-right: auto;
		background-color: #F0FFFF;
		border: 1px solid grey;
	}
	.textbox {
		width: 30em;
	}
	.number{
		width:5em;
		text-align: right;
	}
	.message {
		color: red;
	}
	.cell {
		border: 1px solid black;
	}
	</style>
	<script>
	function celarHistories() {
		if(!confirm('ジョブ実行履歴を削除します。よろしいですか')) return;
		const URL = "/jobs";
		let xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == XMLHttpRequest.DONE) {
				if (xmlhttp.status == 200) {
					let json =  JSON.parse(xmlhttp.responseText);
					alert(json['message']);
					document.location.href = URL;
				} else {
					alert(xmlhttp.status + xmlhttp.responseText);
				}
			}
		};
		xmlhttp.open("DELETE", URL, true);
		xmlhttp.send();
	}
	</script>
</head>
<body>
	<div class="container">
		<h1>ジョブ管理</h1>
		<div>
			<a href="/">戻る</a>
		</div>
		<div>
			<form th:action="@{/jobs}" method="post" th:object="${form}">
				<p class="message" th:text="*{message}"></p>
				<button name="launch" type="submit" class="btn">実行</button>
				<span style="width: 4em;">&nbsp;</span>
				<button name="clear" type="button" onclick="celarHistories();" class="btn">実行履歴削除</button>
				<table>
					<thead>
						<tr>
							<th class="cell">登録日時</th>
							<th class="cell">開始</th>
							<th class="cell">終了</th>
							<th class="cell">ステータス</th>
							<th class="cell">メッセージ</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jobHistory : ${jobHistories}" th:object="${jobHistory}">
							<td th:text="${#dates.format(jobHistory.createTime, 'yyyy/MM/dd HH:mm:ss')}" class="cell"></td>
							<td th:text="${#dates.format(jobHistory.startTime, 'HH:mm:ss')}" class="cell"></td>
							<td th:text="${#dates.format(jobHistory.endTime, 'HH:mm:ss')}" class="cell"></td>
							<td th:text="*{status}" class="cell"></td>
							<td th:text="*{exitMessage}" class="cell"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div>
			<a href="/">戻る</a>
		</div>
	</div>
</body>
</html>
