<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title></title>
	<style type="text/css">
	.container {
		width: 80%;
		margin-left:auto;
		margin-right: auto;
		background-color: #F0FFFF;
		border: 1px solid grey;
	}
	.cell {
		border: 1px solid black;
		width: 3em;
	}
	.message {
		color: red;
	}
	</style>
</head>
<body>
	<div class="container">
		<h1>集計</h1>
		<div>
			<a href="/">戻る</a>
		</div>
		<div>
			<form th:action="stats" method="get" th:object="${form}">
				<p class="message" th:text="*{message}">
				<div>
					年月：<input id="txtFrom" class="textbox" type="text" th:field="*{from}">～<input id="txtTo" class="textbox" type="text" th:field="*{to}">
					<button name="register" type="submit">検索</button>
				</div>
			</form>
			<table>
				<thead>
					<tr class="cell">
						<th class="cell">年</th>
						<th class="cell">1月</th>
						<th class="cell">2月</th>
						<th class="cell">3月</th>
						<th class="cell">4月</th>
						<th class="cell">5月</th>
						<th class="cell">6月</th>
						<th class="cell">7月</th>
						<th class="cell">8月</th>
						<th class="cell">9月</th>
						<th class="cell">10月</th>
						<th class="cell">11月</th>
						<th class="cell">12月</th>
						<th class="cell">合計</th>
					</tr>
				</thead>
				<tbody>
					<tr class="cell" th:each="result : ${form.summary}"  th:object="${result}">
						<td class="cell" style="width:5em;">[[${result.year}]]年</td>
						<td class="cell" th:each="cnt : ${result.count}" th:object="${cnt}" style="text-align:right;">[[${cnt}]]</td>
						<td class="cell" style="text-align:right; font-weight:bold;">[[${result.total}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<a href="/">戻る</a>
		</div>
	</div>
</body>
</html>
